

/* Navigator styles */
nav {
	text-align: center;
	color: white;
	background-color: #007;
	font-family: sans-serif;
}

nav * {
	margin: 5px 5px 3px 3px;
	padding: 3px;
}

nav h3 {
	display: inline;
}

nav a {
	padding: 3px;
	border: 1px solid white;
	border-radius: 4px;
	text-decoration: none;
	color: white;
}
